.navbar-light .navbar-nav .nav-link {
    color: #003772;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    background-color: #003772;
    border-radius: 5px;
}

ul>li>a.active {
    color: white !important;
    background-color: #003772 !important;
    border-radius: 5px;
}

nav{
    /*margin-top: 30px;*/
}

.dropdown-item:hover {
    color: white;
    background-color: green;
}

.tag-item {
    background-color: #E0EAF1;
    border-radius: 8px;
    border: 1px solid #3E6D8E;;
    color: #3E6D8E;;
    margin: 5px;
    padding-left: 10px;
    display: block;
    float: left;
    font-weight: bold;
}
.remove-tag-button{
    border: none;
    /*border-radius: 10px;*/
    text-decoration: none;
    display: inline-block;
    margin-bottom: 8px;
    font-size: 12px;
    color: darkred;
    background-color: #E0EAF1;
}
.remove-tag-button:hover{
    color: red;
}

.tag-span{
    padding-left:10px;
}

.bg-danger {
    color: white; 
    margin: 1px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center !important;
}

.dropdown-divider.sidebar {
    margin-top: -1px; 
    margin-bottom: -1px;
}

.dropdown-item.sidebar {
    padding-bottom: 10px;
    padding-top: 5px;
}

.dropdown-item.sidebar.active {
    color: white !important;
    background-color: green !important;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

.vote-btn {
    font-size: 30px; 
    text-align: center; 
    color: gray;
    cursor: pointer;
}

.vote-btn:hover{
    color: black;
}

.vote-btn:active {
    color: orangered;
}

.questions-tag {
    background-color: #E0EAF1;
    border-radius: 0px;
    border: 1px solid #E0EAF1;
    color: #3E6D8E;;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    display: block;
    float: left;
    /*font-weight: bold;*/
}

body { 
    padding-top: 100px;
}

#nav-search{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}